@import url("animations.css");

html,body{
  height: 100%;
}

.form-control-login{
  background: white;
}
.profileHeader{
  height: 75%;
  margin-top: 37.5px;
}

.wrapper{
  min-height: 100%;
}

#topBtn{
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.animatetop{
  animation-name: top;
  animation-duration: 0.75s;
}

.project56{
  background-color: black;
  position: relative;
}

.headerImageProject{
  height: 500px;
  display: block;
  margin: auto;
  width: auto;
}

#gradient{
  position: absolute;
  height: 500px;
  display: block;
  margin: auto;
  width: auto;
  z-index:2;
  right:0; bottom:0; left:0;
  background: none;
  /* background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 95%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(95%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 95%);
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 95%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 95%);
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); */
  background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(236,245,252,0) 85%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(236,245,252,0) 85%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(236,245,252,0) 85%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.custom-container{
  padding: 50px 0;
}

.headerName{
  margin-top: 30px;
}

p{
  word-break: break-word;
}

.personalSocials{
  padding-top: 20px;
}

.lijn{
  width: 100%;
  height: 1px;
  border-radius: 10px;
  background-color: #2196F3;
  margin: 50px 0;
}

.headerText{
  display: table-cell;
  vertical-align: middle;
}

#stickybar{
  z-index: 1000;
}

.project56 h1{
  color: white;
  position: absolute;
  top: 0;
  padding: 10% 0 0 10%;
}

.hrlogo{
  position: absolute;
  top: 0;
  right: 0;
}

.margin-row{
  margin-left: 4.16%;
}

.gallerij{
  background: lightgrey;
  border-radius: 15px;
  border: 3px solid lightblue;
  padding-bottom: 18.75%;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 8px 20px 0px #000000;
  -moz-box-shadow: 0px 8px 20px 0px #000000;
  box-shadow: 0px 8px 20px 0px rgba(125, 125, 125, 0.8);
  transition: box-shadow 0.3s ease-in-out;
}

.sticky + .container{
  margin-top: 79.78px;
}

.sticky + .project56{
  margin-top: 79.78px;
}

.headerDiv{
  width: 100%;
  height: 300px;
  display: table;
  background-image: url("../assets/img/az-subtle.png");
  background-repeat: repeat;
  background-color: white;
  vertical-align: middle;
  text-align: center;
}

.longAssDiv{
  height: 2000px;
}

.streep{
  width: 25%;
  height: 5px;
  background-color: #2196F3;
  margin-top: 147.5px;
  border-radius: 10px;
}

.hide-sm{
  opacity: 0;
  transition: opacity ease-in-out 1s;
}

.error-message {
	padding: 7px 10px;
  margin-bottom: 10px;
	background: #fff1f2;
	border: #ffd5da 1px solid;
	color: #d6001c;
	border-radius: 4px;
  width: 100%;
}
.success-message {
	padding: 7px 10px;
  margin-bottom: 10px;
	background: #cae0c4;
	border: #c3d0b5 1px solid;
	color: #027506;
	border-radius: 4px;
  width: 100%;
}


@media only screen and (max-width: 992px) {
  .sticky + .container {
    margin-top: 92.59px;
  }

  .headerImageProject{
    height: 350px;
  }
  #gradient{
    height: 350px;
  }

}

@media only screen and (max-width: 768px) {
  .headerDiv{
    height: 200px;
  }

  .navbar{
    padding: 0.5rem 1rem;
  }

  .gallerij{
    padding-bottom: 75%;
    margin-bottom: 30px;
    margin-right: 30px;
  }

  .margin-row{
    margin-left: 0;
  }

  .project56 h1{
    font-size: 120%;
  }

  .headerImageProject{
    height: 200px;
  }

  #gradient{
    height: 200px;
  }

  .personalSocials{
    padding-top: 0px;
  }

  .headerImageProject{
    width: 100%;
  }

  .headerName{
    margin-top: 0px;
  }

  .profileHeader{
    margin-top: 31.25px;
  }

    .hide-sm {
        opacity: 1;
    }
    .sticky + .container {
      margin-top: 63.13px;
    }
}
