.blokkie{
  border: 1px solid lightgrey;
  padding: 1em;
  -webkit-box-shadow: 7px 7px 25px -6px rgba(0,0,0,0.60);
  -moz-box-shadow: 7px 7px 25px -6px rgba(0,0,0,0.60);
  box-shadow: 7px 7px 25px -6px rgba(0,0,0,0.60);
}

.midden_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.midden_content{
  flex: 1 1 50%;
}

.voortgang{
  width: 100%;
}

.streepje{
  height: 1px;
  background: lightgrey;
  width: 100%;
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 768px) {
  .profielfoto{
    padding: 0 !important;
  }

  .midden_wrapper{
    padding-left: 10px;
  }

  .midden_content{
    padding: 0 0 0 10px;
  }

}
